<div class=" pt-1 pb-5 pbackground " style="min-height: 80vh;">
    <p style="font-size: 3rem;color: black" class=" text-center mt-0 fw-bold">Agregar Pelicula</p>
  <div class="container align-items-center justify-content-center d-flex">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              formControlName="title"
            >
          </div>

          <div class="mb-3">
            <label for="synopsis" class="form-label">Synopsis</label>
            <textarea
              rows="4"
              type="text"
              class="form-control"
              id="synopsis"
              formControlName="synopsis">
              </textarea>
          </div>
          <div class="mb-3">
            <label for="year" class="form-label">Año de estreno</label>
            <input
              type="number"
              class="form-control"
              id="year"
              formControlName="year">
          </div>
          <div class="mb-3">
            <label for="cover" class="form-label">Cover (url de la imagen)</label>
            <textarea
              rows="4"
              type="text"
              class="form-control"
              id="cover"
              formControlName="cover">
              </textarea>
          </div>

          <button type="submit"
                  class="btn btn-success m-2"
                  [disabled]=" !addForm.valid"
          >Agregar Pelicula
          </button>
        </form>
      </div>

    </div>
    <div>

    </div>
  </div>
</div>
