<div class=" pt-1 pb-5 pbackground " style="min-height: 80vh;">
    <p style="font-size: 3rem;color: black" class=" text-center mt-0 fw-bold">Agregar Pelicula</p>
  <div class="container align-items-center justify-content-center d-flex">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              formControlName="nombre"
            >
          </div>
          <div class="mb-3">
            <label for="genero" class="form-label">Genero</label>
            <input
              type="text"
              class="form-control"
              id="genero"
              formControlName="genero"
            >
          </div>
          <div class="mb-3">
            <label for="lanzamiento" class="form-label">Lanzamiento</label>
            <input
              type="text"
              class="form-control"
              id="lanzamiento"
              formControlName="lanzamiento"
            >
          </div>



          <button type="submit"
                  class="btn btn-success m-2"
                  [disabled]=" !addForm.valid"
          >Agregar Videojuego
          </button>
        </form>
      </div>

    </div>
    <div>

    </div>
  </div>
</div>
